<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />

    <link rel="stylesheet" href="abc.css">
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
              <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <header>
        
        <nav class="navbar navbar-expand-lg navbar-light bg-light" id="tag">
            <i class="fas fa-home fa-2x" id="font-home"></i>
            <a class="navbar-brand" href="/" id="home">Home</a>
            
          
    
              <ul class="navbar-nav mr-auto" id="ulist">
               
                <li class="nav-item"  >
                  <a class="nav-link" id="Weather" href="/weather">Weather</a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link"  id="aboutus" href="/about">About Us</a>
                  </li>  
               </ul>
    </header>
    
    <div >
    <img  id="image" src="https://media.istockphoto.com/vectors/spy-agent-searching-on-laptop-hacker-vector-id622974406?k=6&m=622974406&s=612x612&w=0&h=GX-scINMFcnCv8xUGz8p1DFfKr8ITNYbVejFgVQoNqE="></img>
    </div>
    
    <div id="about">
       <h1 id="aboutme">About Us</h1>
       <p>
        Hello everyone...!<br>
        This is my first basic project "Weatherapp". to making this project i have using some<br>
        basic and advance concepts of HTML,CSS,JAVASCRIPT and EXPRESS JS and try to make it impactfull<br>
        Basically this site having three pages 1.Home 2.Weather 3.Aboutus and every page is designed<br>
        with the help of css and bootstrap. and i also using the bootstrap to making ths site responsive.<br>
        and using express js for routing and running on the server.and i have used real time API to fatching <br> 
        the Details of weather. You can check the weather details by simply Search by city Name.<br>
        <br>
      
       </p>
    </div>
    <footer class="footer"><h4>Pappu Khan @copyright Weatherapp</h4></footer>
    <script src="F:\test\main.js"></script>

</body>
</html>